<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script>
    Handlebars.registerHelper("ifEquals", (str1, str2, option)=>{
      return (str1 == str2) ? option.fn(this) : option.inverse(this);
  })
</script>

<section class="section">
  <div class="container.is-widescreen">
    <h1 class="title is-centered">
      Member Addition Form
    </h1>
    <p class="subtitle is-centered">
      add member here.
    </p>
    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-half-tablet is-half-desktop">
        <form method="post" enctype="multipart/form-data">

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">First Name</label>
                <p class="control is-expanded has-icons-left">
                    {{# if user.firstName }}
                  <input required class="input" name="firstName" value="{{ user.firstName }}" type="text" placeholder="First Name" />
                  {{ else }}
                  <input required class="input" name="firstName" type="text" placeholder="First Name" />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <p class="control is-expanded has-icons-left has-icons-right">
                    {{# if user.lastName }}
                  <input required
                    class="input is-success"
                    type="text"
                    name="lastName"
                    value="{{ user.lastName }}"
                    placeholder="Last Name"
                  />
                  {{ else }}
                  <input required
                    class="input is-success"
                    type="text"
                    name="lastName"
                    placeholder="Last Name"
                  />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              {{# if user.email }}
              <input required class="input" value="{{ user.email }}" name="email" type="email" placeholder="email@gmail.com" />
              {{ else }}
              <input required class="input" name="email" type="email" placeholder="email@gmail.com" />
              {{/if}}
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                  {{# if user.phoneNumber }}
                  <input
                    class="input"
                    type="text"
                    name="phoneNumber"
                    value="{{ user.phoneNumber }}"
                    placeholder="+251 9********"
                  />
                  {{ else }}
                  <input
                    class="input"
                    type="text"
                    name="phoneNumber"
                    placeholder="+251 9********"
                  />
                  {{/if}}

                </div>
              </div>

              <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                  <div class="select">
                    <select required name="gender">
                        <option value="male">
                            Male
                        </option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Social Media Links -->
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Facebook</label>
                <p class="control is-expanded has-icons-left">
                    {{# if user.facebook }}
                  <input
                    class="input"
                    type="text"
                    name="facebook"
                    value="{{user.facebook}}"
                    placeholder="Facebook Link"
                  />
                  {{ else }}
                  <input
                    class="input"
                    type="text"
                    name="facebook"
                    placeholder="Facebook Link"
                  />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Instagram</label>
                <p class="control is-expanded has-icons-left has-icons-right">
                  {{# if user.instagram }}
                  <input
                    class="input is-success"
                    type="text"
                    name="instagram"
                    value="{{user.instagram}}"
                    placeholder="Instagram Link"
                  />
                  {{ else }}
                   <input
                    class="input is-success"
                    type="text"
                    name="instagram"
                    placeholder="Instagram Link"
                  />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fab fa-instagram"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Twitter</label>
                <p class="control is-expanded has-icons-left">
                 {{# if user.twitter }}
                  <input class="input" value="{{user.twitter}}" name="twitter" type="text" placeholder="Twitter Link" />
                  {{else}}
                   <input class="input" name="twitter" type="text" placeholder="Twitter Link" />
                   {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fab fa-twitter"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Linkedin</label>
                <p class="control is-expanded has-icons-left has-icons-right">
                 {{# if user.linkedin }}
                  <input
                    class="input is-success"
                    type="text"
                    name="linkedin"
                    value="{{user.linkedin}}"
                    placeholder="Linkedin Link"
                  />
                  {{else}}
                   <input
                    class="input is-success"
                    type="text"
                    name="linkedin"
                    placeholder="Linkedin Link"
                  />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fab fa-linkedin"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Github</label>
                <p class="control is-expanded has-icons-left">
                  {{# if user.github }}
                  <input class="input" value="{{user.github}}" name="github" type="text" placeholder="Github Link" />
                  {{else}}
                  <input class="input" name="github" type="text" placeholder="Github Link" />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fab fa-github"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Personal</label>
                <p class="control is-expanded has-icons-left">
                  {{# if user.personal }}
                  <input
                    class="input"
                    type="text"
                    name="personal"
                    value="{{user.personal}}"
                    placeholder="Personal Site"
                  />
                  {{else}}
                  <input
                    class="input"
                    type="text"
                    name="personal"
                    placeholder="Personal Site"
                  />
                  {{/if}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">About</label>
            <div class="control">
                {{# if user.about }}
              <textarea required class="textarea" name="about" placeholder="Textarea">{{user.about}}</textarea>
              {{else}}
              <textarea required class="textarea" name="about" placeholder="Textarea"></textarea>
              {{/if}}
            </div>
          </div>

          <p>
            <i class="fas fa-network-wired"></i>
            Select the member Division</p>
          <br />

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input name="dev" type="checkbox" />
                Development
              </label>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input name="cpd" type="checkbox" />
                Competitive Programming
              </label>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input name="cbd" type="checkbox" />
                Capacity Building
              </label>
            </div>
          </div>
          <br />
          {{# if user.image }}
          <p>User have profile pic!</p>
          {{else}}
          <p>User don't have profile pic!</p>
          {{/if}}
          <div id="member-image" class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="image"/>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a image
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
          </div>
          <br>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>


<script>
  const fileInput = document.querySelector('#member-image input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#member-image .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>